Package: com.jeffresc.marstime
Name: MarsTime
Depends: com.matchstic.xenhtml
Version: 1.0.3
Architecture: iphoneos-arm
Description: A mars time widget for XenHTML
Maintainer: JeffResc
Author: JeffResc
Section: Widgets
